contact{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px 0;
}

.thmbnl{
    height: 31px; 
    -moz-box-shadow: none; 
    -goog-ms-box-shadow: none; 
    -webkit-box-shadow: none;
    box-shadow: none;
}
