<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">

{% seo %}
    {% include head-custom.html %}
	  <style>
      		a.banner:link { 
      			color: #aaa;
      		}
      		a.banner:visited { 
      			color: #aaa;
      		}
      		a.banner:hover { 
      			color: #fff;
      		}
		.selector.noshadow {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
    	</style>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

	  <p>
      	    <a class="banner" href="/">Home</a>&nbsp;&nbsp;
      	    <a class="banner" href="{{ site.github.experience_url }}">Work History</a>&nbsp;&nbsp;
      	    <a class="banner" href="{{ site.github.education_url }}">Education</a>&nbsp;&nbsp;
      	    <a class="banner" href="{{ site.github.skills_url }}">Coding Skills</a>&nbsp;&nbsp;
      	    <a class="banner" href="{{ site.github.projects_url }}">Projects</a>&nbsp;&nbsp;
      	    <a class="banner" href="{{ site.github.bib_url }}">Publications & Outreach</a>&nbsp;&nbsp;
	  </p>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
	<div class="contact">
        	<p>Contact:&nbsp;
		<a id='ttt' class='tooltip'><img src="/img/email.svg"><span class='tooltiptext'>Mail only works if scripts are allowed - sorry!</span></a>&nbsp;
		<script type="text/javascript">
		  document.getElementById('ttt').remove();
		  var a = 'hartl';
		  var b = 'bene';
		  var c = 'software';
		  var d = 'g';
		  var e = 'mail';
		  document.write(
		    '<a class="selector noshadow" href="mailto:'+a+'.'+b+'.'+c+'@'+d+e+'.com"><img src="/img/email.png" width="31px"></a>'
		  );
		</script>
		<a target='_blank' href="https://github.com/bhartl/"><img src="/img/github.png" alt="Github"></a>
		<a target='_blank' href="https://twitter.com/benehartl"><img src="/img/twitter.png" alt="Twitter"></a>
		<a target='_blank' href="https://www.linkedin.com/in/bhartl/"><img src="/img/linkedin.png" alt="LinkedIn"></a>
		<a target='_blank' href="https://orcid.org/0000-0001-7787-4839"><img src="/img/orcid.svg" alt="ORCID"></a>
		<a target='_blank' href="http://smt.tuwien.ac.at/people/hartl/"><img src="/img/TU-Wien.png" alt="Soft Matter Theory @ TU Wien"></a>
	      </div>
	</p>
      </footer>
    </div>
  </body>
</html>
